
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
    font-style: normal;
	font-weight: normal;
    font-family: 'Open Sans';
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
img{
	max-width: 100%;
	height: auto;
}

input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('./fonts/open-sans-v18-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./fonts/open-sans-v18-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
.wrapper{ 
    max-width: 1200px;
    margin: 0 auto;
}

.logo{
	display: flex;
	flex-wrap: wrap;
}

.header__h1{
	color: white;
	font-size: 32px;
	line-height: 60px;
	text-transform: uppercase;
	margin-left: 15px;
}

.wrapper__header{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content: space-between;
	padding-top: 19px;
}

.header_list{
	display: flex;
	flex-wrap: wrap;
}

.header_list li {
	margin-right: 60px;
	font-size: 23px;
	line-height: 60px;
	cursor: pointer;
}
.header_list li:last-child{
	margin-right: 0;
}
.header__link{
	text-decoration: none;
	color: #F7F7F7;
}
.header__link:hover, /* .header__link:active,*/ .header__link:focus {
	opacity: .75;
}
.intro{
	/* height: 100vh; */
	height: 780px;
	background: url(./img/Rectangle.png) no-repeat center;
	background-size: cover;
	padding-top: 200px;
}
.main__title{
	font-size: 48px;
	line-height: 72px;
	letter-spacing: 2px;
	color: #CD6326;
	margin-bottom: 50px;
}
.main__subtitle{
	font-size: 18px;
	line-height: 27px;
	color: #F7F7F7;
	max-width: 274px;
	margin-bottom: 50px;
}

.main__button{
	padding: 17px 42px;
	background: #CD6326;
	border-radius: 5px;
	font-size: 23px;
	line-height: 27px;
	text-align: center;
	color: #F7F7F7;
}
.main__button:active, .main__button:focus, .main__button:hover, .header__link__sign:active, .header__link__sign:focus, .header__link__sign:hover {
	opacity: .75;
	/* background: #6e3616; */
}

.header__link__sign{
	padding: 10px 23px;
	border: 2px solid #CD6326;
	box-sizing: border-box;
	border-radius: 5px;
}

.latest__articles{
	/* padding-bottom: 760px; */
	background: #CCCCCC;
}

.latest__articles__title{
	font-size: 48px;
	line-height: 72px;
	text-align: center;
	padding-top: 120px;
	color: #333333;
}
.latest_articles__subtitle{
	padding-top: 20px;
	font-size: 24px;
	line-height: 36px;
	text-align: center;
	color: #666666;
}

.arrow{
	cursor: pointer;
	display: inline-block;
}

.card{
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 60px;
	margin: 0 auto;
	padding-top: 120px;;
}
.card__pic{
	width: 300px;
	height: 360px;
	margin: 0 auto;
	text-align: center;
}
.card__title{
	font-size: 22px;
	line-height: 36px;
	text-align: center;
	color: #F7F7F7;
	padding-top: 247px;
	text-align: center;
}
.card_subtitle{
	padding-top: 10px;
	font-size: 17px;
	line-height: 27px;
	text-align: center;
	color: #F7F7F7;
	text-align: center;
}
.deer{
	background: url(./img/deer.png) no-repeat center;
}
.squirrel{
	background: url(./img/squirrel.png) no-repeat center;
}
.bird{
	background: url(./img/bird.jpg) no-repeat center;
}

.search__title{
	font-size: 27px;
	line-height: 40px;
	text-align: center;
	color: #333333;
	padding-top: 239px;
	padding-bottom: 60px;
}


.search-form{
	padding-bottom: 239px;
}
.form__block{
	width: 660px;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
}
.search__inp{
	width: 540px;
	height: 60px;
	font-size: 23px;
	line-height: 27px;
	color: #666666;
	background-color: transparent ;
	border: 1px solid  #666666;
	padding-left: 15px;
} 
.search__button{
	width: 120px;
	height: 60px;
	background: #CD6326;
	font-size: 23px;
	line-height: 27px;
	align-items: center;
	text-align: center;
	color: #F7F7F7;
	border: 1px solid #CD6326;
	border-radius: 0px 5px 5px 0px;
}

.footer{
	background:url(./img/footer.png) no-repeat center;
	background-size: cover;
	height: 360px;
}

.wrapper-footer{
	display: flex;
	flex-wrap: wrap;
	padding-top: 150px;
}
.footer_ul{
	display: flex;
	/* margin: 0 120px; */
    margin-right: 117px;
    margin-left: 136px;
	flex-wrap: wrap;
	font-size: 23px;
	line-height: 60px;
} 

.footer__list{
	color: #F7F7F7;
	margin-right: 87px;
}
.footer__list__last{
	margin-right: 0;
}
.social__list{
	display: flex;
}
.facebook {
	padding-right: 32px;
}
.instagram{
	padding-right: 27px;
}
.pinterest{
	padding-right: 32px;
}